.lang_car_1:after{
	content:"Shopping Cart";
	display: block;
	position:absolute;
	width:2.3rem;
	top:0;
	left:37%;
	background:#DE463E;
}
.lang_car_2:after{
	content:"Select All";
	position:absolute;
	width:1.7rem;
	top:0;
	right:0;
	background:#DE463E;
}
.lang_car_3{
	position:relative;
}
.lang_car_3:after{
	content:"Total (excluding postage)";
	position:absolute;
	width:1.8rem;
	left:0;
	top:0;
	background:#fff;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.lang_car_4{
	position:relative;
}
.lang_car_4:after{
	content:"Settlement";
	position:absolute;
	width:1.4rem;
	top:0;
	left:0;
	background:#DE463E;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.lang_car_5{
	position:relative;
}
.lang_car_5:after{
	content:"Improve personal information";
	position:absolute;
	width:100%;
	top:0;
	left:0;
	background:#fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 .5rem;
	box-sizing: border-box;
}
.lang_car_6{
	position:relative;
}
.lang_car_6:after{
	content:"Need to improve personal information to shop Oh";
	position:absolute;
	width:100%;
	top:0;
	left:0;
	background:#fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 .5rem;
	box-sizing: border-box;
}
.lang_car_7{
	position:relative;
}
.lang_car_7:after{
	content:"To Perfect";
	position:absolute;
	width:100%;
	top:0;
	left:0;
	background:#DE463E;
	border-radius: 0 0 0.2rem 0.2rem;
}



.lang_index_14{
	position:relative;
}
.lang_index_14:after{
	content:"Home";
	position: absolute;
	width:100%;
	height:100%;
	top:.06rem;
	left:0;
	background:#fff;

}
.lang_index_15{
	position:relative;
}
.lang_index_15:after{
	content:"Information";
	position: absolute;
	width:100%;
	height:100%;
	top:.06rem;
	left:0;
	background:#fff;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.lang_index_16{
	position:relative;
}
.lang_index_16:after{
	content:"Car";
	position: absolute;
	width:100%;
	height:100%;
	top:.06rem;
	left:0;
	background:#fff;
	color:#DF463E;
}
.lang_index_17{
	position:relative;
}
.lang_index_17:after{
	content:"My";
	position: absolute;
	width:100%;
	height:100%;
	top:.06rem;
	left:0;
	background:#fff;
}