.lang_coupon_4{
	position:relative;
}
.lang_coupon_4:after{
	content:"$";
	position:absolute;
	top:0;
	left:0;
	background:#fff;
}
.lang_coupon_5{
	position:relative;
}
.lang_coupon_5:after{
	content:"Over";
	position:absolute;
	height:100%;
	top:0;
	right:0;
	background:#fff;
}
.lang_coupon_6{
	position:relative;
}
.lang_coupon_6:after{
	content:"use";
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#fff;
}
.lang_coupon_7{
	position:relative;
}
.lang_coupon_7:after{
	content:"Valid until";
	position:absolute;
	width:150%;
	height:110%;
	top:-2px;
	right:0;
	background:#fff;
}
.lang_coupon_8{
	position:relative;
}
.lang_coupon_8:after{
	content:"$";
	position:absolute;
	height:100%;
	top:0;
	left:0;
	background:#fff;
}
.lang_coupon_9{
	position:relative;
}
.lang_coupon_9:after{
	content:"Over";
	position:absolute;
	height:100%;
	top:0;
	right:0;
	background:#fff;
}
.lang_coupon_10{
	position:relative;
}
.lang_coupon_10:after{
	content:"use";
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#fff;
}
.lang_coupon_11{
	position:relative;
}
.lang_coupon_11:after{
	content:"No coupon information";
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#fff;
}
