html, body { background: #ededed; }

#more-classfily { width: 100%; height: 0.87rem; line-height: 0.87rem; text-align: center; font-size: 0.32rem; color: #fff; background: #df463e; }
#more-classfily span:nth-of-type(1) { float: left; width: 0.87rem; height: 0.87rem; background: url("../img/my/fanhui@3x.png") no-repeat center; background-size: 0.45rem 0.45rem; position: absolute; left: 0; top: 0; }

#more-nav { width: 100%; height: 0.9rem; box-sizing: border-box; background: #fff; overflow: hidden; position: relative; left: 0; top: 0; }
#more-nav .more-nav-ul { width: 7.7rem; height: 100%; margin-left: 0.29rem; font-size: 0.3rem; color: #666; line-height: 0.9rem; }
#more-nav .more-nav-ul li { float: left; line-height: 0.9rem; text-align: center; position: relative; padding: 0 .3rem; }
#more-nav .more-nav-ul .more-action { color: #df463e; }
#more-nav .more-nav-ul .more-action:before { display: block; content: ""; width: 0.44rem; height: .04rem; background: #df463e; margin-left: 50%; position: absolute; bottom: 0; left: -.22rem; }
#more-nav .more-xiala { display: block; width: 0.84rem; height: 100%; position: absolute; right: 0; top: 0; background: #fff; border-left: 2px solid #d4d4d4; padding: 0.41rem 0 0 0.31rem; box-sizing: border-box; }
#more-nav .more-xiala img { width: 0.22rem; height: 0.13rem; float: left; }

#more-list { width: 100%; overflow: hidden; }
#more-list .more-list-pro { width: 2.23rem; height: 2.88rem; margin: 0.12rem; float: left; }
#more-list .more-list-pro li:nth-of-type(1) { width: 2.33rem; height: 2.33rem; }
#more-list .more-list-pro li:nth-of-type(1) a { width: 100%; height: 100%; }
#more-list .more-list-pro li:nth-of-type(1) a img { width: 100%; height: 100%; }
#more-list .more-list-pro li:nth-of-type(2) { width: 2.3rem; height: 0.64rem; border: 1px solid #cfcfcf; border-top: 0; font-size: 0.28rem; color: #333; text-align: center; line-height: 0.64rem; }

.pull-down { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); position: fixed; display: none; }
.pull-down ul { width: 100%; overflow: hidden; background: #fff; padding: 0.1rem 0 0 0.34rem; box-sizing: border-box; border-top: 1px solid #d4d4d4; }
.pull-down ul li { font-size: 0.3rem; color: #333; float: left; width: 33.33%; height: 0.8rem; line-height: 0.82rem; }
.pull-down ul .for-you { color: #cf362e; }

#more-classfily span:nth-of-type(2) { float: right; width: 0.87rem; height: 0.87rem; background: url("../img/index/fangdajing.png") no-repeat center; background-size: 0.35rem 0.37rem; position: absolute; right: 0; top: 0; }

#feature { width: 100%; overflow: hidden; background: #ededed; }
#feature .feature-ul { padding-bottom: 0.97rem; }
#feature .feature-ul li { width: 3.71rem; height: 5.4rem; margin-bottom: 0.08rem; background: #fff; float: left; }
#feature .feature-ul li a { width: 3.71rem; height: 3.71rem; float: left; }
#feature .feature-ul li a img { width: 100%; height: 100%; }
#feature .feature-ul li p { text-align: center; }
#feature .feature-ul li .title { width: 100%; height: 0.53rem; line-height: 0.53rem; margin-top: 0.05rem; font-size: 0.3rem; color: #333; float: left; }
#feature .feature-ul li .model { width: 100%; height: 0.22rem; line-height: 0.22rem; font-size: 0.24rem; color: #666; font-family: "Hiragino Sans"; float: left; }
#feature .feature-ul li .price { width: 100%; height: 0.79rem; line-height: 0.79rem; font-size: 0.26rem; color: #ff4844; }
#feature .feature-ul li .price span { width: 1.35rem; height: 100%; display: inline-block; line-height: 0.79rem; font-size: 0.38rem; text-align: center; }
#feature .feature-ul li:nth-of-type(even) { float: right; }

/*# sourceMappingURL=more-classify.css.map */
